body {
	font-family: Raleway;
}

h5 {
	font-weight: bold;
}

p {
	font-size: 20px;
	line-height: 36px;
}


.judul-bold {
	font-size: 24px;
	font-weight: bold;

}


.img200px {
	width: 200px;
}


/* header */

.main-header {
	background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(../img/bg..jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	color: #eee;
}

.brand-logo {
	margin-top: 8px;
}

.main-header .showcase {
	margin-top: 100px;
}

.active-link {
	color: #01579b;
	font-weight: bold;
}

nav {
	box-shadow: none;
	background-color: transparent;
	transition: .3s;
}

.nav-signup-color {
	background-color: #40c4ff;
}

.pink {
	background-color: #40c4ff !important;
	opacity: .97;
	transition: .3s;

}

.search-box {
	background-color: white;
	border-radius: 30px;
	font-weight: bold;
	font-size: 16px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 30px;
	width: 50%;
	color: #333 !important;
}

.search-btn {
	float: right;
	color: #ad1457;
}

.search-text {
	float: left;
	outline: none;
	border: none;
	background-color: transparent;
	color: #ad1457;
	font-size: 16px;
	width: 90%;
	text-align: center;
}


/*skills*/

.section-skills {
	background-color: #fff;
}

.img-skills {
	width: 100px;
}


/*About*/

.section-about {
	background-color: #b3e5fc;
}

/*cuci lipat*/
.section-cuci-lipat {
	background-color: #e1f5fe;
}

/*treatment*/
.section-treatment {
	background-color: #81d4fa;
}

.listed-ok {
	font-size: 20px;
	line-height: 36px;
	list-style: none;
}

.listed-ok li {
	margin-top: 10px;
}

.listed-ok li img {
	vertical-align: middle;
	margin-right: 10px;
}

/*quote*/
.section-quote {
background-image: linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.6)), url(../img/about-bg.jpg);
background-size: cover;
background-attachment: fixed;
}

/*testimony*/

.section-testimony {
	background-image: linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.6)), url(../img/seigaiha.png);
	margin-bottom: 250px;

}

.img-testimony {
	width: 100px;
	border: 3px solid #eee;
}

.section-testimony span {
	display: block;
}

.name {
	font-weight: bold;
}


/*pricing*/

.main-header-pricing {
	background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(../img/bg..jpg);
	background-size: cover;
	min-height: 70vh;
	color: #eee;
}

.section-pricing {
	background-image: url(../img/seigaiha.png);
	background-color: black;
	background-attachment: fixed;
	margin-top: -50px;
	margin-bottom: 250px;
}

.pull-pricing {
	margin-top: -100px;
}

.section-pricing .card-panel {
	box-shadow: none;
	border-radius: 5px;
}


/*signup*/
.section-signup {
	background-color: white;
	padding: 35px;
	margin-bottom: 250px;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #0277bd !important;
    box-shadow: 0 1px 0 0 #0277bd;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
     color: #0277bd !important;
}

/*footer*/

footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -99;
}

footer p,
footer a {
	font-size: 14px;
	line-height: 24px;
}

.page-footer {
	background-color: #0288d1;
}

.footer-copyright {
	background-color: #0277bd !important;
}

/*==============================================*/
/*--------======== Responsive =========---------*/
/*==============================================*/


